.leitor {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .imagem {
    height: 70vw;
    width: 70vw;
    border: 4px dashed crimson;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
